body {
    text-align: center;
    padding: 20px;
    font-size: 16px;
}

button,
.button {
    -moz-appearance: none;
    -webkit-appearance: none;
    border: 1px solid;
    height: 30px;
    box-shadow: none;
    outline: none;
    justify-content: center;
    padding-top: calc(0.5em - 1px);
    padding-bottom: calc(0.5em - 1px);
    padding-left: 1em;
    padding-right: 1em;
    cursor: pointer;
    text-align: center;
    white-space: nowrap;
    transition: all 0.2s ease-in-out;
}

button[disabled],
button.is-disabled,
.button[disabled],
.button.is-disabled {
    cursor: not-allowed;
    opacity: 0.5;
}
